
*.log
AbstractDoc/main.log
AbstractDoc/main.aux
AbstractDoc/main.log
AbstractDoc/main.out
AbstractDoc/main.pdf
AbstractDoc/main.synctex.gz
AbstractDoc/main.aux
AbstractDoc/main.log
AbstractDoc/main.pdf
AbstractDoc/main.synctex.gz
