
*.log
AbstractDoc/main.log
AbstractDoc/main.aux
AbstractDoc/main.log
AbstractDoc/main.out
AbstractDoc/main.pdf
AbstractDoc/main.synctex.gz
AbstractDoc/main.aux
AbstractDoc/main.log
AbstractDoc/main.pdf
AbstractDoc/main.synctex.gz
AbstractDoc/etienne.log
AbstractDoc/etienne.log
AbstractDoc/formal.log
AbstractDoc/main.aux
AbstractDoc/main.log
AbstractDoc/main.pdf
AbstractDoc/focs.synctex.gz
AbstractDoc/focs.out
AbstractDoc/focs.aux
AbstractDoc/focs.pdf
